<div class="ui stackable labeled icon menu">
  <div class="left menu">
    <a class="item" routerLinkActive='active' routerLink="/animal-list" data-test="dierenBtn">
      <i class="paw icon"></i>Dieren </a>
    <a class="item" routerLinkActive='active' routerLink="/animal-store" data-test="storeBtn">
      <i class="shopping cart icon"></i> Dierenwinkel </a>
  </div>

  <div class="right menu">
    <a *ngIf="user" class="item">
      <i class="coffee icon"></i>
      <p>Drinken: {{user.drink}}</p>
    </a>
    <a *ngIf="user" class="item">
      <i class="spoon icon"></i>
      <p>Voedsel: {{user.food}}</p>
    </a>

    <a *ngIf="user" class="item">
      <i class="money bill alternate icon"></i> {{ user.money }} </a>


    <a *ngIf='user else loginlink' class="item" routerLinkActive='active' routerLink="/logout" data-test="logoutBtnMenu">
      <i class="sign out alternate icon"></i> {{user.username}} uitloggen </a>

    <ng-template #loginlink>
      <a class="item" routerLinkActive='active' routerLink="/login" data-test="loginBtnMenu">
        <i class="sign in alternate icon"></i> Inloggen </a>
    </ng-template>


  </div>
</div>
