<div class="ui segment">
  <h2 class="ui center aligned icon header">
    <i class="circular spoon icon"></i> Voeding </h2>
  <div class="food">
    <div class="ui stackable three column grid">
      <div class="column">
        <h2 class="ui header">Pindanoten 🥜
          <div class="sub header">
            <p>Voedsel: 2</p>
            <i>De beste manier om te dineren!</i>

          </div>
          <br>
          <button class="ui button green" (click)="addFood(2,1,'Pindanoten')">Koop pindanoten ($1.00)</button>
        </h2>
      </div>
      <div class="column">
        <h2 class="ui header">Water 🥛
          <div class="sub header">
            <p>Drinken: 1</p>
            <i>Ahhhhh....</i>

          </div>
          <br>
          <button class="ui button green" (click)="addDrink(1,1,'Water')">Koop Water ($1.00)</button>
        </h2>
      </div>
      <div class="column">
        <h2 class="ui header">Steak 🍖
          <div class="sub header">
            <p>Voedsel: 23</p>
            <i>Geniet tot op het bot.</i>

          </div>
          <br>
          <button class="ui button green" (click)="addFood(23,10,'Steak')">Koop Steak ($10.00)</button>
        </h2>
      </div>
      <div class="column">
        <h2 class="ui header">Blikvoer 🥫
          <div class="sub header">
            <p>Voedsel: 5</p>
            <i>Droger dan dit bestaat niet..</i>

          </div>
          <br>
          <button class="ui button green" (click)="addFood(5,2,'Blikvoer')">Koop Blikvoer ($2.00)</button>
        </h2>
      </div>
      <div class="column">
        <h2 class="ui header">Bacon 🥓
          <div class="sub header">
            <p>Voedsel: 6</p>
            <i>Hmmm... Bacon</i>

          </div>
          <br>
          <button class="ui button green" (click)="addFood(6,3,'Bacon')">Koop Bacon ($3.00)</button>
        </h2>
      </div>
      <div class="column">
        <h2 class="ui header">Hotdog 🌭
          <div class="sub header">
            <p>Voedsel: 12</p>
            <i>Woef!</i>

          </div>
          <br>
          <button class="ui button green" (click)="addFood(12,4,'Hotdog')">Koop Hotdog ($4.00)</button>
        </h2>
      </div>

      <div class="column">
        <h2 class="ui header">Bier 🍺
          <div class="sub header">
            <p>Drinken: 5</p>
            <i>Ha! Bier!</i>

          </div>
          <br>
          <button class="ui button green" (click)="addDrink(5,3,'Bier')">Koop Bier ($3.00)</button>
        </h2>
      </div>
      <div class="column">
        <h2 class="ui header">Cocktail 🍹
          <div class="sub header">
            <p>Drinken: 25</p>
            <i>Fiesta!</i>

          </div>
          <br>
          <button class="ui button green" (click)="addDrink(25,15,'Cocktail')" data-test="cocktailBtn">Koop Cocktail ($15.00)</button>
        </h2>
      </div>
    </div>

  </div>
